body {
	font-family: Arial;
	margin: 2% 2% 2% 2%;
	color: #666666;
}
h1, h2, strong {
	color: black;
}
div {
	padding: 2% 2% 2% 2%;
	border: 1px solid #bfbfbf;
	margin-bottom: 1%;
}
code {
	padding: .5% .5% .5% .5%;
	border: 1px solid #bfbfbf;
}
#notification {
	background-color: #d9d9d9;
}
.message {
	background-color: #ffffb3;
}
.error {
	background-color: #ffc2b3;
	border: 1px solid #cc0000;
	line-height: 175%;
}
.success {
	background-color: #c2f0c2;
}